.row
  .text-center.col-xs-12.heading
    %h3 Edit Profile
.row
  = form_for current_user, url: profile_path, html: {role: 'form'} do |f|
    .row
      .col-md-4
        .profile-description
          %h4
            %strong Your Profile
          %p
            This information will be
            %strong hidden
            from the review committee, but will be shown on the program if your proposal is accepted.
        .form-group.form-group-lg
          = f.label :name, "Name", class: 'control-label'
          = f.text_field :name, class: 'form-control', placeholder: 'Your name'
        .form-group.form-group-lg
          = f.label :bio, "Bio", class: 'control-label'
          = f.text_area :bio, class: 'form-control', placeholder: 'Enter your bio in no more than 500 characters', rows: 7, maxlength: 500
      .col-md-4
        .profile-description
          %h4
            %strong Identity Services
          %p
            Email is only used for notifications on proposal feedback and acceptance into the program.
        .form-group.form-group-lg
          = f.label :email, "Email", class: 'control-label'
          = f.email_field :email, class: 'form-control', placeholder: 'Your email address'
        - if Rails.env.development?
          .service
            - if current_user.connected?('developer')
              %button.btn.btn-success.btn-block
                %i.glyphicon.glyphicon-user
                | Connected via Developer
            - else
              = link_to '/auth/developer', class: 'btn btn-default btn-block' do
                %i.glyphicon.glyphicon-user
                | Connect via Developer
        .service
          - if current_user.connected?('github')
            %button.btn.btn-success.btn-block
              %i.icon-github
              | Connected via GitHub
          - else
            = link_to '/auth/github', class: 'btn btn-default btn-block' do
              %i.icon-github
              | Connect to GitHub
        .service
          - if current_user.connected?('twitter')
            %button.btn.btn-success.btn-block
              %i.icon-twitter
              | Connected via Twitter
          - else
            = link_to '/auth/twitter', class: 'btn btn-default btn-block' do
              %i.icon-twitter
              | Connect to Twitter
      .col-md-4
        .profile-description
          %h4
            %strong Demographics
          %p
            This information is entirely
            %strong optional
            and will be
            %strong hidden
            from the review committee.
        = render :partial => 'shared/demographics', :locals => {:f => f}

    .row
      .col-md-12.form-submit
        %button.pull-right.btn.btn-success.btn-lg{:type => "submit"} Save
