.row
  .col-xs-12
    .heading.text-center
      %h2
        %strong Event Details

.event-links.text-center
  .row
    .col-sm-2
    .col-sm-2.col-xs-12
      = link_to "Proposals", organizer_event_proposals_path(event)
    .col-sm-2.col-xs-12
      = link_to "Program", organizer_event_program_path(event)
    .col-sm-2.col-xs-12
      = link_to "Schedule", organizer_event_sessions_path(event)
    .col-sm-2.col-xs-12
      = link_to "Edit Event", edit_organizer_event_path(event)
    .col-sm-2

.event-details
  .row
    .col-xs-12.col-sm-6
      .event-basic-details
        %h4
          %strong Basic Details
        %table.table
          %tr
            %td Url
            %td
              %a{ href: event.url } #{event.url}
          %tr
            %td Slug
            %td= event.slug
          %tr
            %td Email
            %td= event.contact_email

          %tr
            %td Guidelines
            %td
              - if event.guidelines.present?
                = event.guidelines.truncate(150, separator: /\s/)
              .row
                .col-xs-12.col-sm-6.col-lg-5
                  = link_to "Public guidelines", event_path(slug: event.slug)
                .col-xs-12.col-sm-6.col-lg-4
                  = link_to "Edit Guidelines", edit_organizer_event_path(:form => "guidelines_form")

    .col-xs-12.col-sm-6
      .event-dates
        %h4
          %strong Dates
        %table.table
          %tr
            %td CFP Opens on
            %td= event.cfp_opens
          %tr
            %td CFP Closes on
            %td
              = event.cfp_closes
              %p.help-block #{event.cfp_days_remaining} days remaining

          %tr
            %td Event Start date
            %td= event.start_date.to_s(:month_day_year) unless event.start_date.blank?

          %tr
            %td Event End date
            %td= event.end_date.to_s(:month_day_year) unless event.end_date.blank?

.event-details
  .speaker-details
    .row
      .col-xs-12
        %h4
          %strong Proposal Stats
        %table.table
          %tr
            %td Total
            %td= event.proposals.count

          %tr
            %td Reviewed
            %td #{event.proposals.rated.count} (#{event.reviewed_percent})

          %tr
            %td Accepted
            %td= event.proposals.accepted.count

          %tr
            %td Confirmed from Accepted
            %td #{event.proposals.accepted.confirmed.count} (#{event.confirmed_percent})

          %tr
            %td Scheduled
            %td #{event.proposals.scheduled.count} (#{event.scheduled_percent})

          %tr
            %td Waitlisted
            %td= event.proposals.waitlisted.count

          %tr
            %td Confirmed from Waitlist
            %td #{event.proposals.waitlisted.confirmed.count} (#{event.waitlisted_percent})

- if !!event.valid_proposal_tags || !!event.valid_review_tags
  .event-details
    .row
      .col-xs-1
        %h4
          %strong Tags
      .col-xs-2
        = link_to "Edit Tags",
          edit_organizer_event_path(:form => "tags_form")
    .row
      .col-xs-12
        %table.table.table-bordered
          %tr
            %th Proposal
            %th Review
          %tr
            %td
              - event.valid_proposal_tags.split(" ").each do |tag|
                %span.label.label-info.tag-label
                  = tag
            %td
              - event.valid_review_tags.split(" ").each do |tag|
                %span.label.label-info.tag-label
                  = tag


.event-details
  .row
    .col-xs-12
      %h4
        %strong Event Fields
    .col-xs-12
      = event.fields
      = link_to "Add Custom Field", edit_custom_fields_organizer_event_path(event)

.event-details
  .row
    .col-xs-12.col-sm-6
      .row
        .col-xs-12
          %h4
            %strong Tracks
        .col-xs-12
          -if event.track_count.present?
            - event.track_count.sort_by{|k,v| v}.reverse.each_slice(8).to_a.each do |row|
              %ul#columns.list-inline
                -row.each do |name, count|
                  %li
                    .label.label-success
                      = name
                      = count
          -else
            %p No Tracks

    .col-xs-12.col-sm-6
      .row
        .col-xs-6
          %h4
            %strong Speaker Notifcations
        .col-xs-6
          = link_to 'Edit Speaker Notifications', edit_organizer_event_path(:form => "speaker_notifications_form")
      .row
        .col-xs-12
          %table.table
            %tr
              %td Accept
              %td
                = event.speaker_notification_emails['accept'].truncate(75, separator: /\s/)
            %tr
              %td Reject
              %td
                = event.speaker_notification_emails['reject'].truncate(75, separator: /\s/)
            %tr
              %td Waitlist
              %td
                = event.speaker_notification_emails['waitlist'].truncate(75, separator: /\s/)

.event-details
  .row
    .col-xs-12
      = render partial: 'participants',
        locals: { event: event, participants: participants,
          rating_counts: rating_counts }
