.row
  .col-xs-12.text-center
    %h1= event
  .col-xs-12.text-center
    %small Event Status: #{event.status}

.row
  .col-xs-12.text-center
    .row
      .col-xs-12
        - if event.open?
          - if event.closes_at?
            %p
              Closes at
              %strong= event.closes_at(:long_with_zone)
            %p
              %strong
                = time_ago_in_words(event.closes_at)
                left to submit your proposal!
        - else
          %p
            Closed at
            %strong= event.closes_at(:long_with_zone)

  .col-md-12.text-center
    - if event.open?
      %p= link_to 'Submit a proposal', new_proposal_path(slug: event.slug), class: 'btn btn-primary btn-lg'
    - if event.proposals.count > 5
      .stats
        %h2 CFP Stats
        = pluralize(event.proposals.count, 'proposal')
        = event.line_chart

- if event.past_open? || event.open?
  .row
    .markdown.col-xs-12.col-sm-10.col-sm-offset-1
      = markdown(event.guidelines)
