- content_for :header do
  = event

.row
  .col-xs-12.col-sm-3.text-right
    Unrated Proposals:
    %strong= event.proposals.unrated.count
  .col-xs-12.col-sm-6.text-center
    %p.help-block
      Hint: Hold <kbd>shift</kbd> and click sorting arrows to sort by multiple
      columns
  .col-xs-12.col-sm-3.text-left
    Proposals Rated:
    %strong= event.proposals_rated_message

#reviewer-proposals-index
  .row
    .col-md-2
      %button.btn.btn-primary.btn-sm.pull-right#sort_reset Reset Sort Order
  .row
    .col-md-12
      %table#reviewer-proposals.datatable.table.table-striped.table-condensed.datatable-condensed
        %thead
          %tr
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
          %tr
            %th Score
            %th Your<br/>Score
            %th Ratings
            %th Title
            %th Proposal<br/>Tags
            %th Reviewer<br/>Tags
            %th Comments
            %th Submitted On
            %th Updated At
            %th Rated?
        %tbody
          - proposals.each do |proposal|
            %tr{ class: "proposal-#{proposal.id}" }
              %td.average-rating
                = proposal.average_rating if proposal.score_for(current_user).present?
              %td.my-rating
                = proposal.score_for(current_user)
              %td.ratings-count
                = proposal.ratings.size
              %td.title
                = proposal.title_link
              %td.tags
                = proposal.tags
              %td.review-tags
                = proposal.review_tags
              %td.comment-count
                = proposal.comment_count
              %td.created-at
                = proposal.created_at
              %td.updated-at
                = proposal.updated_at
              %td.is-rated
                = proposal.ratings.present?
